<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справочник контрагентов</title>
</head>
<body>

<div>
    <h2>Поиск по наименованию</h2>
    <form th:method="GET" th:action="@{/counterparties/search/name}">
        <input type="text" name="name">
        <input type="submit" value="Поиск">
    </form>

    <h2>Поиск по БИК и номеру счета</h2>
    <form th:method="GET" th:action="@{/counterparties/search/bikAndAccount}">
        <input type="text" name="bikBank">
        <input type="text" name="accountNumber">
        <input type="submit" value="Поиск">
    </form>
</div>

<div th:switch="${counterparties}">
    <h2 th:case="null">
        Справочник пуст
    </h2>

    <div th:case="*">
        <h2>Справочник контрагентов</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>ИНН</th>
                <th>КПП</th>
                <th>БИК банка</th>
                <th>Номер счета</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="counterparty: ${counterparties}">
                <td th:text="${counterparty.id}"></td>
                <td th:text="${counterparty.name}"></td>
                <td th:text="${counterparty.inn}"></td>
                <td th:text="${counterparty.kpp}"></td>
                <td th:text="${counterparty.bikBank}"></td>
                <td th:text="${counterparty.accountNumber}"></td>
                <td><a th:href="@{'counterparties/' + ${counterparty.id} + '/edit'}">Изменить</a></td>
                <td><a th:href="@{'counterparties/' + ${counterparty.id} + '/delete'}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/counterparties/new}">Добавить контрагента</a></p>
</div>

</body>
</html>