<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Справочник контрагентов</title>
</head>
<body>
    <div th:switch="${counterparties}">
        <h2 th:case="null">
            No users found!
        </h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>ИНН</th>
                <th>КПП</th>
                <th>БИК банка</th>
                <th>Номер счета</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="counterparty: ${counterparties}">
                <td th:text="${counterparty.id}"></td>
                <td th:text="${counterparty.name}"></td>
                <td th:text="${counterparty.inn}"></td>
                <td th:text="${counterparty.kpp}"></td>
                <td th:text="${counterparty.bikBank}"></td>
                <td th:text="${counterparty.accountNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>